*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(163, 126, 47), rgb(143, 48, 48));
    font-family: sans-serif;
    color: white;
}
.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
.temperature-description {
    font-size: 35px;
}