body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), purple);
}

.logo{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 55vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(223, 217, 217);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
   text-align: center;
   max-width: 1031px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#messageInp{
    width: 87%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
